*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    background: url(images/UEA.jpg);
    font-family: 'roboto', sans-serif;
}

.instructions{
    
    font-family: 'dosis';
    font-size: auto;
    color: #1d292f;
    font-weight: 800;
    text-transform: capitalize;
    position: relative;
    top: 260px;
    right: 300px;
    align-items: baseline;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.form{
    width: auto;
    height:auto;
    color: rgb(38, 52, 52);
    font-family: 'roboto', sans-serif;
    align-items: flex-end;
    position: relative; 
    top: 250px;
    right: 250px;
}