*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(images/UEA.jpg);
    font-family: 'roboto', sans-serif;
}

.instructions{
    padding: 5%;
    font-family: 'dosis';
    font-size: auto;
    color: #275c61;
    font-weight: 800;
    text-transform: capitalize;
    position: relative;
    /* top: 260px;
    right: 300px; */
    /* align-items: baseline; */
    /* box-sizing: border-box; */
    border-radius: 5px;
    
}

.form{
    padding: 5%;
    width: 400px;
    height:auto;
    color: rgb(34, 89, 89);
    font-family: 'roboto', sans-serif;
    position: relative; 
    /* top: 250px;
    right: 250px; */
}