*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    position: relative;
    width: auto;
    height: auto;
    background-color: aqua;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,1,0,0.75)), url(King\ david.jpeg);
    background-size: cover;
    background-position: top; 
    margin-top: auto;
   
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    color: aqua;
    background-color: rgb(71, 69, 66);

}
.logo{
    width: 20%;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    color: pink;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;

}

.logout{
    position: right;
    top: 10px;
    right: 10px 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(29, 85, 107);
    background: none;
    text-decoration: underline;
    cursor: pointer;

}

.login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    align-items: center;
    background-color: rgb(155, 196, 196);
    margin: 0;
    width: auto;
    padding: 10px;
    
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    border: 10px solid #fff;
    padding: 50px;
    
    
}
.input{
    margin: 10px 7px;
    height: 37px;
    padding: 17px;
    position: center;

}
.button{
    height: 37px;
    width: 100px;
    margin: 5px 5px;
    background-color: azure;
    border: none;
    border-radius: 5px;
    color: rgb(19, 18, 18);
}
.button:hover{
    background-color: rgb(235, 207, 207);
    color: rgb(27, 192, 192);
}

.sheet{
    height: 100%;
    flex: 1;
    
    width: auto;
    margin: 25px;

}
.heading{
    padding: 5%;
    border: 1px solid #009688;
    width: auto;
    border-radius: 25%;
    text-decoration: underline;
}
.greeting{
    position: relative;
    text-align: center;
    top: 200px;
    font-size: larger;

    
}